.btn-block{
  font-size: 16px;
  .exit{
    color: red;
    margin-left: 25px;
  }
  .delete{
    color: red;
    margin-left: 25px;
  }
  .save{
    margin-left: 5px;
    color: green;
  }
  .edit{
    font-size: 18px !important;
    color: #0090fd;
  }

}




