
<nz-layout>

<!--  <swal-->
<!--    #saveSwal-->
<!--    (confirm)="saveSwalFunc()"-->
<!--    [focusCancel]="true"-->
<!--    icon="success"-->
<!--    text="{{errorCode}}"-->
<!--    title="{{errorText}}">-->
<!--  </swal>-->
  <swal
    #saveSwal
    (confirm)="saveSwalFunc()"
    [focusCancel]="true"
    icon="success"
  >
    <div class="errorMessage" *swalPortal>
      <h3>{{errorCode}}</h3>
      <h4>{{errorText}}</h4>
    </div>
  </swal>

  <swal
    #errorSwal
    (confirm)="errorSwalFunc()"
    [focusCancel]="true"
    icon="success"
  >
    <div class="errorMessage" *swalPortal>
      <h3>{{errorCode}}</h3>
      <h4>{{errorText}}</h4>
    </div>
  </swal>


  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logotip" >

      <img class="logo"  *ngIf="!isCollapsed" src="../../../../assets/img.png" alt="">


      <img class="logo2" *ngIf="isCollapsed" src="../../../../assets/logo2.png" alt="">
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="oper" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i nz-icon nzType="user"></i>
        <span>Oper Type</span>
      </li>
      <li nz-menu-item routerLink="epos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i nz-icon nzType="team"></i>
        <span>Epos</span>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="header">
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
      <div class="right-block">
        <div class="refresh-block">
          <i nz-icon [nzType]="'sync'" [nzSpin]="rotateActive" (click)="updateState()"></i>
<!--          <i nz-icon nzType="reload" class="rotating" nzTheme="outline"></i>-->
        </div>
      </div>
    </nz-header>
    <nz-content>

      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
